.background {
    background-image: url(https://i.imgur.com/aR6eHfS.jpeg);
}

#top {
    width: 100%;
    max-width: 50px;
    color: white;
    font-size: 50px;
    font-family: "Alex Brush", cursive;
    text-decoration: underline;
    position: absolute;
    top: 0;
    margin-left: 45%;
}

#home {
    background-color: whitesmoke;
    border-radius: 100px;
    font-size: 16px;
    font-family: "Berkshire Swash", serif;
    padding: 7px;
    position: fixed;
    top: 0;
    left: 0;
}

.img1 {
    width: 100%;
    max-width: 160px;
    position: absolute;
    top: 0;
    margin-left: 15%;
}

.img2 {
    width: 100%;
    max-width: 160px;
    position: absolute;
    top: 0;
    margin-left: 70%;
}

.svm1 {
    width: 100%;
    max-width: 225px;
    position: absolute;
    top: 25%;
    left: 42.5%;
}

.svm2 {
    width: 100%;
    max-width: 225px;
    position: absolute;
    top: 56%;
    left: 42.5%;
}

.svm3 {
    width: 100%;
    max-width: 225px;
    position: absolute;
    top: 87%;
    left: 42.5%;
}

.svm4 {
    width: 100%;
    max-width: 225px;
    position: absolute;
    top: 118%;
    left: 42.5%;
}

.svm5 {
    width: 100%;
    max-width: 225px;
    position: absolute;
    top: 149%;
    left: 42.5%;
}

@media only screen and (max-width: 600px) {
    .img1 {
        padding: 0;
    }

    .img2 {
        padding: 0;
    }

    #top {
        padding: 0;
    }
    
    .svm1 {
        padding: 0;
    }
    .svm2 {
        padding: 0;
    }

    .svm3 {
        padding: 0;
    }

    .svm4 {
        padding: 0;
    }
    
    .svm5{
        padding: 0;
    }
}